services:
  base:
    init: true
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 100k
        max-file: 2
    healthcheck:
      test: cmp /app/ips.txt /opt/antizapret/result/ips.txt || sh -c 'kill -TERM 1 && (sleep 5; kill -s 9 1)'
      interval: 30s
      timeout: 30s
      start_period: 5s
      start_interval: 1s
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    depends_on:
      - az-local
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $PWD/config/antizapret/result:/opt/antizapret/result
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints: [ node.labels.location == local ]
    environment:
      - PORT=51821
      - WG_PORT=51820
      - WG_DEFAULT_DNS=10.224.0.1
      - WG_PERSISTENT_KEEPALIVE=25
      - |
        ROUTES=
        openvpn:10.1.165.0/24;
        wireguard:10.1.166.0/24;
        wireguard-amnezia:10.1.167.0/24;
        adguard:10.224.0.1;
        az-local:10.224.0.0/15;
        az-world:10.226.0.0/15;
