services:
  wireguard:
    extends:
      file: docker-compose.base.yml
      service: base
    hostname: wireguard.antizapret
    image: xtrime/antizapret-vpn-wireguard:5.3.1
    build:
      context: .
      args:
        - IMAGE=ghcr.io/wg-easy/wg-easy:14
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    ports:
      - "51820:51820/udp"
    environment:
      - WG_PORT=51820
      - WG_DEFAULT_ADDRESS=10.1.166.x
    volumes:
      - $PWD/config/wireguard:/etc/wireguard

  wireguard-amnezia:
    extends:
      file: docker-compose.base.yml
      service: base
    hostname: wireguard-amnezia.antizapret
    image: xtrime/antizapret-vpn-wireguard-amnezia:5.3.1
    build:
      context: .
      args:
        - IMAGE=xtrime/amnezia-wg-easy:0.2.16
      x-bake:
        platforms:
          - linux/amd64
    ports:
      - "51830:51830/udp"
    environment:
      - WG_PORT=51830
      - WG_DEFAULT_ADDRESS=10.1.167.x
      - JMIN=20
      - JMAX=100
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - $PWD/config/wireguard_amnezia:/etc/wireguard
