
services:
  tinyproxy:
    image: ajoergensen/tinyproxy
    container_name: tinyproxy
    ports:
      - "8888:8888"
    volumes:
#      - ./tinyproxy.conf:/etc/tinyproxy.conf:ro

      - /etc/localtime:/etc/localtime:ro
      - $PWD/config/i2p/tinyproxy.conf:/etc/tinyproxy/tinyproxy.conf:ro

    restart: unless-stopped


  i2pd_proxy:
    image: purplei2p/i2pd:latest
    container_name: i2pd
    ports:
      - "4444:4444"   # HTTP Proxy (по умолчанию)
      - "4447:4447"   # SOCKS Proxy
      - "7656:7656"   # SAM API
      - "7070:7070"   # Web консоль
    volumes:
      - /etc/localtime:/etc/localtime:ro
#      - ./i2pd/data:/var/lib/i2pd
#      - ./i2pd/conf:/etc/i2pd
      - $PWD/config/i2p/i2pd/data:/var/lib/i2pd
      - $PWD/config/i2p/i2pd/conf:/etc/i2pd
    restart: unless-stopped



  tor_proxy:
    image: dperson/torproxy
    container_name: tor-proxy
    command: -p     # включает Privoxy и Tor
    ports:
      - "9050:9050"   # SOCKS5 proxy
      - "8118:8118"   # (опционально) HTTP proxy через Privoxy
    # environment:
    #   - TZ=UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped


  # tor:
  #   image: goldy/tor-hidden-service
  #   container_name: tor
  #   ports:
  #     - "9050:9050"
  #   volumes:
  #     - ./tor-data:/var/lib/tor
  #   restart: unless-stopped

