
services:
  tinyproxy:
    image: ajoergensen/tinyproxy
    container_name: tinyproxy
    ports:
      - "8888:8888"
    volumes:
#      - ./tinyproxy.conf:/etc/tinyproxy.conf:ro

      - /etc/localtime:/etc/localtime:ro
      - $PWD/config/i2p/tinyproxy.conf:/etc/tinyproxy/tinyproxy.conf:ro

    restart: unless-stopped


  i2pd_proxy:
    image: purplei2p/i2pd:latest
    container_name: i2pd_proxy
    ports:
      - "4444:4444"   # HTTP Proxy (по умолчанию)
      - "4447:4447"   # SOCKS Proxy
      - "7656:7656"   # SAM API
      - "7070:7070"   # Web консоль
    volumes:
      - /etc/localtime:/etc/localtime:ro
#      - ./i2pd/data:/var/lib/i2pd
#      - ./i2pd/conf:/etc/i2pd
      - $PWD/config/i2p/i2pd/data:/var/lib/i2pd
      - $PWD/config/i2p/i2pd/conf:/etc/i2pd
    restart: unless-stopped


# https://github.com/rdsubhas/docker-tor-privoxy-alpine
# https://github.com/marcelmaatkamp/docker-alpine-tor
# https://github.com/zet4/alpine-tor?ysclid=mgji3r52fk54325906

  tor_proxy:
#    image: rdsubhas/tor-privoxy-alpine
    image: marcelmaatkamp/alpine-tor:latest
    container_name: tor_proxy
    ports:
      # - "8118:8118"   # HTTP proxy (Privoxy)
      # - "9050:9050"   # SOCKS5 proxy (Tor)
      - "9001:9001"
      - "9050:9050"
      - "9053:9053"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  # privoxy:
  #   image: privoxy:latest
  #   ports:
  #     - "8118:8118"
  #   depends_on:
  #     - tor
  #   volumes:
  #     - ./privoxy.conf:/etc/privoxy/config:ro


