services:
  coredns:
    image: xtrime/antizapret-vpn-coredns:5.2.1
    hostname: coredns.antizapret
    restart: unless-stopped
    build: 
      context: .
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    logging:
      driver: json-file
      options:
        max-size: 100k
        max-file: 2
    volumes:
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: /root/healthcheck.sh || kill -TERM 1
      interval: 5s
      timeout: 1m
      start_period: 5s
      start_interval: 1s
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints: [ node.labels.location == local ]
    depends_on:
      - az-local
      - az-world
